@import "tailwindcss";

:root {
  --color-background: #00142c;
  --color-foreground: #ffffff;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Roboto", sans-serif;
}
